// configs

$-mod-button: true !default;

$-button-sizes: tiny, small, medium, large, huge !default;
$-button-styles: text, line, solid, raise !default;

$-button-size-df: medium !default;
$-button-style-df: solid !default;

// mixins

@mixin button-sizing($height, $font-size) {
    $padding: ($height - $font-size) / 2 - rem(1px);

    height: $height;
    padding: $padding;
    font-size: $font-size;
    line-height: $font-size;
}

@mixin button-variant($style, $color) {
}

@mixin button-solid-color($color) {
    $bgcolor: color($color, 5);
    $bghover: color($color, 4);

    color: #fff;
    background-color: $bgcolor;

    @include hover() {
        background-color: $bghover;
    }
}

@mixin button-line-color($name) {
    $color: color($name, 6);
    $hover: color($name, 1);
    $bdcolor: color($name, 3);

    background: transparent;
    color: $color;
    @include border-color($color: $bdcolor);

    @include hover() {
        background-color: $hover;
    }
}

@mixin button-text-color($name) {
    $color: color($name, 6);
    $hover: color($name, 1);

    background: transparent;
    color: $color;

    @include hover() {
        background-color: $hover;
    }
}

@mixin button-color($color: neutral) {
    &,
    &._solid,
    &._raise {
        @include button-solid-color($color);
    }

    &._line {
        @include button-line-color($color);
    }

    &._text {
        @include button-text-color($color);
    }
}

.m-button {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;

    @include border-radius();
    @include border(all, 1px, transparent);

    // button sizes

    &._tiny {
        @include button-sizing(1.25rem, font-size(xs));
    }

    &._small {
        @include button-sizing(1.5rem, font-size(xs));
    }

    &,
    &._medium {
        @include button-sizing(2rem, font-size(sm));
    }

    &._large {
        @include button-sizing(2.5rem, font-size(md));
    }

    &._huge {
        @include button-sizing(3rem, font-size(lg));
    }

    // button widths

    &._narrow {
        @include padding(0.25em, left-right);
    }

    &._widely {
        @include padding(1.5em, left-right);
    }

    &._block {
        display: block;
        width: 100%;
    }

    // button styles

    &._cicle {
        @include border-radius(9999px);
        padding: 0;
    }

    &._raise {
        @include box-shadow(2);
    }

    & {
        @include button-color(neutral);

        &,
        &._solid,
        &._raise {
            @include color(neutral, 7);
            @include bgcolor(neutral, 2);
            @include hover {
                @include color(neutral, 7);
                @include bgcolor(neutral, 3);
            }
        }
    }

    @each $type in map-keys($-color-mapping) {
        &._#{$type} {
            @include button-color($type);
        }
    }

    @each $type in map-keys($-color-palette) {
        &._#{$type} {
            @include button-color($type);
        }
    }

    &._disable,
    &[disabled] {
        @include color(neutral, 4);

        @include hover {
            cursor: text;
            @include bgcolor(none, 5);
        }

        &._solid,
        &._raise {
            @include color(neutral, 5);
            @include bgcolor(neutral, 2);
        }
    }
}
