// configs

$-mod-button: true !default;

$-button-sizes: tiny, small, medium, large, huge !default;
$-button-styles: text, line, solid, raise !default;

$-button-size-df: medium !default;
$-button-style-df: solid !default;

// mixins

@mixin button-sizing($height, $font-size) {
    $padding: ($height - $font-size) / 2;
    font-size: $font-size;
    line-height: $font-size;
}

@mixin button-variant($style, $color) {
}

@mixin button-solid-color($color) {
    @include color(white);
    @include bgcolor($color, 5);

    @include hover() {
        @include bgcolor($color, 4);
    }
}

@mixin button-line-color($color) {
    background: transparent;
    @include color($color, 6);
    @include border-color($color, 4);

    @include hover() {
        @include bgcolor($color, 2);
    }
}

@mixin button-text-color($color) {
    background: transparent;
    @include color($color, 7);
    @include hover() {
        @include bgcolor($color, 2);
    }
}

@mixin button-color($color: neutral) {
    &,
    &._solid,
    &._raise {
        @include button-solid-color($color);
    }

    &._line {
        @include button-line-color($color);
    }

    &._text {
        @include button-text-color($color);
    }
}

.m-button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    @include border-radius();
    @include border(all, 1px, transparent);

    // button sizes

    &._tiny {
        @include button-sizing(1.25rem, font-size(xs));
    }

    &._small {
        @include button-sizing(1.5rem, font-size(xs));
    }

    &,
    &._medium {
        @include button-sizing(2rem, font-size(md));
    }

    &._large {
        @include button-sizing(2.5rem, font-size(md));
    }

    &._huge {
        @include button-sizing(3rem, font-size(lg));
    }

    // button widths

    &._narrow {
        @include padding(0.5em, left-right);
    }

    &._widely {
        @include padding(1.5em, left-right);
    }

    &._block {
        display: block;
        width: 100%;
    }

    // button styles

    &._cicle {
        @include border-radius(9999px);
        padding: 0;
    }

    &._raise {
        @include box-shadow(2);
    }

    & {
        @include button-color(neutral);

        &,
        &._solid,
        &._raise {
            @include color(neutral, 7);
            @include bgcolor(neutral, 2);
            @include hover {
                @include color(neutral, 7);
                @include bgcolor(neutral, 3);
            }
        }
    }

    @each $type, $name in $-color-mapping {
        &._#{$type} {
            @include button-color($name);
        }
    }

    &._disable,
    &[disabled] {
        box-shadow: none;
        @include color(neutral, 5);
        @include bgcolor(neutral, 2);
        @include hover {
            cursor: text;
            @include color(neutral, 5);
            @include bgcolor(neutral, 2);
        }
    }
}
