// variables
$-radius-locs: $-loc-edges, $-loc-corners;
$-radius-sizes: 0, 1, 2, 4, 6, 8, 10, 12, 16, 24, 32 !default;
$-radius-size-df: 4 !default;

// return border radiuses
@function radius-size($size: 2) {
    @if type-of($size) != number {
        @error "type-of $size (#{$size}) must be number, got #{type-of($size)}";
    }

    @if not unitless($size) {
        @warn "using custom radius size (#{$size}) is not recommended";
        @return $size;
    }

    @if not list-index($-radius-sizes, $size) {
        @warn "using custom radius size (#{$size}) is not recommended";
    }

    @return rem($size);
}

@mixin border-radius($loc: a, $size: $-radius-size-df) {
    $bdr: radius-size($size);

    @if $loc == a {
        border-radius: $bdr;
    }

    @each $corner in $-loc-corner {
        @if loc-akin($loc, $corner) {
            border-#{$loc-full($loc)}-radius: $bdr;
        }
    }
}

@if $-util-classes {
    .__bdr {
        @include border-radius();
    }

    @each $loc in $-radius-locs {
        .__bdr-#{$loc} {
            @include border-radius($loc);
        }

        @each $size in $-radius-sizes {
            .__bdr-#{$loc}-#{$size} {
                @include border-radius($loc, $size);
            }
        }
    }
}
