// variables

$-padding-sizes: 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 58, 64 !default;
$-padding-directions: t, b, l, r, tb, lr !default;

// mixins

@mixin padding($size, $dir: a, $screen: null) {
    @if $dir == top or $dir == t or $dir == tb or $dir == a {
        @include screen-width-min($screen) {
            padding-top: size($size);
        }
    }
    @if $dir == bottom or $dir == -b or $dir == -tb or $dir == -a {
        @include screen-width-min($screen) {
            padding-bottom: size($size);
        }
    }
    @if $dir == left or $dir == -l or $dir == -lr or $dir == -a {
        @include screen-width-min($screen) {
            padding-left: size($size);
        }
    }
    @if $dir == right or $dir == -r or $dir == -lr or $dir == -a {
        @include screen-width-min($screen) {
            padding-right: size($size);
        }
    }
}

// util classes

@if $-util-classes {
    @each $size in $-padding-sizes {
        .__pd-#{$size} {
            @include padding($size);
        }

        @each $dir in $-padding-directions {
            .__pd-#{$size}-#{$dir} {
                @include padding($size, $dir);
            }

            @each $screen in $-screen-names {
                .__pd-#{$size}-#{$dir}-#{$screen} {
                    @include screen-width-min($screen) {
                        @include padding($size, $dir);
                    }
                }
            }
        }
    }
}
