$-base-size: 16px !default;
$-base-cell: 0.25rem !default;

// convert px to em
// prettier-ignore
@function em($size, $base: 16) {
    @if $size == 0 { @return 0; }

    @if unit($size) != unit($base) {
        @error "type mismatch: '#{$size}' & '#{$base}'";
    }
    @return $size / $base * 1em;
}

// convert px to rem
// prettier-ignore
@function rem($size) {
    @if $size == 0 { @return 0; }

    @if unitless($size) {
        $size: $size * 1px;
    } @else if unit($size) != px {
        @error "unsupported unit";
    }

    @return $size / $-base-size * 1rem;
}

// maintain vertical rhythm
@function dot($size: 1) {
    // prettier-ignore
    @if unitless($size) { @return $size * $-base-cell; }
    @error "only allow unitless";
}

// convert unitless size to gaps
@function size($size) {
    // prettier-ignore
    @if unitless($size) { @return dot($size); }
    @return $size;
}
