$-unit-size: 16px !default;
$-unit-cell: 0.25rem !default;

// convert px to em
@function em($size, $unit: 16) {
    @if unit($size) != unit($unit) {
        @error "type mismatch: '#{$size}' & '#{$unit}'";
    }
    @return $size / $unit * 1em;
}

// convert px to rem
@function rem($size) {
    @if unitless($size) {
        $size: $size * 1px;
    } @else if unit($size) != px {
        @error "unsupported unit";
    }

    @return $size / $-unit-size * 1rem;
}

// maintain vertical rhythm
@function dot($size: 1) {
    // prettier-ignore
    @if unitless($size) { @return $size * $-unit-cell; }
    @error "only allow unitless";
}

// convert unitless size to gaps
@function size($size) {
    // prettier-ignore
    @if unitless($size) { @return dot($size); }
    @return $size;
}
