$-loc-edges: t, b, l, r;
$-loc-sides: tb, lr;
$-loc-corners: tl, tr, bl, br;

$-loc-fulls: (
    t: top,
    b: bottom,
    l: left,
    r: right,
    tb: top-bottom,
    lr: left-right,
    tl: top-left,
    tr: top-right,
    bl: bottom-left,
    br: bottom-right,
);

// prettier-ignore
@function loc-full($loc) {
    @if not map-has-key($-loc-fulls, $loc) { @return $loc; }
    @return map-get($-loc-fulls, $loc);
}

// prettier-ignore
@function loc-akin($loc1, $loc2) {
    @if $loc1 == $loc2 { @return true; }
    @if $loc1 == t { @return $loc2 == tl or $loc2 == tr or $loc2 == tb; }
    @if $loc1 == b { @return $loc2 == bl or $loc2 == br or $loc2 == tb; }
    @if $loc1 == l { @return $loc2 == tl or $loc2 == bl or $loc2 == lr; }
    @if $loc1 == r { @return $loc2 == tr or $loc2 == br or $loc2 == lr; }
    @return false;
}
