// variables

$-screen-1: 320px !default; // small phone
$-screen-2: 360px !default; // medium phone
$-screen-3: 480px !default; // large phone
$-screen-4: 640px !default; // small tablet
$-screen-5: 768px !default; // medium tablet
$-screen-6: 960px !default; // large tablet
$-screen-7: 1200px !default; // small computer monitor
$-screen-8: 1500px !default; // medium computer monitor
$-screen-9: 1800px !default; // large computer monitor

$-screen-sizes: (
    ps: $-screen-1,
    pm: $-screen-2,
    pl: $-screen-3,
    ts: $-screen-4,
    tm: $-screen-5,
    tl: $-screen-6,
    cs: $-screen-7,
    cm: $-screen-8,
    cl: $-screen-9,
);

$-screen-names: map-keys($-screen-sizes);

// functions

/// get screen size by aliases
@function screen-size($size) {
    @if map-has-key($-screen-sizes, $size) {
        @return map-get($-screen-sizes, $size);
    }

    @if type-of($size) == number {
        @warn "custom screen size (#{$size}) is not recommended";
    }
    @return $size;
}

// mixins

/// media query for screen min width
// prettier-ignore
@mixin screen-width-min($min: ts) { // default is small tablet
    @if $min == null { @content; }
    @else {
        $size-min: screen-size($min);
        @media screen and (min-width: $size-min) { @content; }
    }
}

/// media query for screen max width
// prettier-ignore
@mixin screen-width-max($max: cs) { // default is large tablet
    @if $max == null { @content; }
    @else {
        $size-max: screen-size($max) - 1px;
        @media screen and (max-width: $size-max) { @content; }
    }
}

/// media query for screen from min width to max width
@mixin screen-width-range($min: ts, $max: cs) {
    $size-min: screen-size($min);
    $size-max: screen-size($max) - 1px;
    @media screen and (min-width: $size-min) and (max-width: $size-max) {
        @content;
    }
}

/// media query for screen min height
// prettier-ignore
@mixin screen-height-min($min: ts) { // default is small tablet
    @if $min == null { @content; }
    @else {
        $size-min: screen-size($min);
        @media screen and (min-height: $size-min) { @content; }
    }
}

/// media query for screen max height
// prettier-ignore
@mixin screen-height-max($max: cs) { // default is large tablet
    @if $max == null { @content; }
    @else {
        $size-max: screen-size($max) - 1px;
        @media screen and (max-height: $size-max) { @content; }
    }
}

/// media query for screen from min to max height
@mixin screen-height-range($min: ts, $max: cs) {
    $size-min: screen-size($min);
    $size-max: screen-size($max) - 1px;
    @media screen and (min-height: $size-min) and (max-height: $size-max) {
        @content;
    }
}
