$-configs: (
    utils: true,
    modules: true,
);

@function include($name) {
    @return map-get($-configs, $name);
}

// prettier-ignore
@function enable-feature($name) {
    @return map-merge($-configs, ($name: true));
}

// prettier-ignore
@function disable-feature($name) {
    @return map-merge($-configs, ($name: false));
}
