// configs
$-bgc-name-df: neutral !default;
$-bgc-tone-df: 2 !default;

// helpers
@mixin bgcolor($name: $-bgc-name-df, $tone: $-bgc-tone-df) {
    background-color: color($name, $tone);
}

@if include(utils) {
    @each $name in (none, white, black) {
        // prettier-ignore
        .__bg-#{$name} { @include bgcolor($name); }
    }

    @each $name in map-keys($-color-palette) {
        .__bg-#{$name} {
            @include bgcolor($name);
        }
        @for $tone from 1 to 10 {
            .__bg-#{$name}#{$tone} {
                @include bgcolor($name, $tone);
            }
        }
    }
}
