// configs
$-radius-sides: join($-edges, $-corners) !default;
$-radius-sizes: 0, 1px, 2px, 3px, 4px, 6px, 8px !default;
$-radius-size-df: 4px !default;

// helpers
@mixin border-radius($side: all, $radius: $-radius-size-df) {
    @if $side == all {
        border-radius: $radius;
    } @else {
        @each $corner in $-corners {
            @if side-match($side, $corner) {
                border-#{$corner}-radius: $radius;
            }
        }
    }
}

// classes
@if include(utils) {
    // prettier-ignore
    .__bdr { @include border-radius(all, $-radius-size-df); }

    @each $side in $-radius-sides {
        $class: side-abbr($side);

        .__bdr-#{$class} {
            @include border-radius($side, $-radius-size-df);
        }

        @each $radius in $-radius-sizes {
            $number: unitless($radius);
            .__bdr-#{$class}-#{$number} {
                @include border-radius($side, $radius);
            }
        }
    }
}
