// variables
$-radius-pos: $-position-edges, $-position-corners !default;
$-radius-sizes: 0, 1, 2, 3, 4, 6, 8 !default;
$-radius-size-df: 4 !default;

// return border radiuses
@function radius-size($size: $-radius-size-df) {
    @if type-of($size) != number {
        @error "type-of $size (#{$size}) must be number, got #{type-of($size)}";
    }

    @if not unitless($size) {
        @warn "using custom radius size (#{$size}) is not recommended";
        @return $size;
    }

    @if not list-index($-radius-sizes, $size) {
        @warn "using custom radius size (#{$size}) is not recommended";
    }

    @return rem($size);
}

// prettier-ignore
@mixin border-radius($pos: all, $size: $-radius-size-df) {
    $radius: radius-size($size);

    @if $pos == all { border-radius: $radius; }

    @each $corner in $-pos-corners {
        @if pos-akin($pos, $corner) { border-#{$corner}-radius: $radius; }
    }
}

@if include(utils) {
    .__bdr {
        @include border-radius();
    }

    @each $pos in $-radius-poss {
        $class: pos-abbr($pos);
        .__bdr-#{$class} {
            @include border-radius($pos);
        }

        @each $size in $-radius-sizes {
            .__bdr-#{$class}-#{$size} {
                @include border-radius($pos, $size);
            }
        }
    }
}
