// configs

$-border-locs: t, l, b, r !default;
$-border-widths: 0, 1, 2, 3, 4 !default;
$-border-width-df: 1px !default;
$-border-color-df: color(neutral, 7) !default;

// helpers

// prettier-ignore
@mixin border($width: $-border-width-df, $loc: x) {

    $border: $width solid $-border-color-df;
    @if ($width == 0) { $border: 0 }

    @if $loc == x or $loc == a { border: $border; }

    @each $l in $-border-locs {
        @if $loc == $l { border-#{loc-full($loc)}: $border; }
    }
}

// classes

// prettier-ignore
@if include(utils) {
    .__bd { @include border(); }

    @each $width in $-border-widths {
        .__bd-#{$width} { @include border($width) }
    }

    @each $loc in $-border-locs {
        .__bd-#{$loc} { @include border(x, $loc); }

        @each $width in $-border-widths {
            .__bd-#{$loc}-#{$width} { @include border($loc, $width) }
        }
    }
}
