/// configs
$-gutter-sizes: (0, 1bs, 2bs, 3bs, 4bs, 5bs, 6bs) !default;
$-gutter-sides: join($-edges, $-flanks) !default;

// helpers
@mixin margin($size, $side: all, $screen: null) {
    $gutter: rem($size);

    @include screen-min($screen) {
        // prettier-ignore
        @if $side == all { margin: $gutter; }
        @each $edge in $-edges {
            // prettier-ignore
            @if side-match($side, $edge) { margin-#{$edge}: $gutter; }
        }
    }
}

@mixin padding($size, $side: all, $screen: null) {
    $gutter: rem($size);

    @if $side == all {
        // prettier-ignore
        @include screen-min($screen) { padding: $gutter; }
    }

    @each $edge in $-edges {
        @if side-match($side, $edge) {
            // prettier-ignore
            @include screen-min($screen) { padding-#{$edge}: $gutter; }
        }
    }
}

// classes
@if include(utils) {
    // prettier-ignore
    @each $size in $-gutter-sizes {
        $base: strip-unit($size);

        .__m-#{$base} { @include margin($size); }
        .__p-#{$base} { @include padding($size); }

        @each $side in $-gutter-sides {
            $attr: side-abbr($side);

            .__m-#{$base}-#{$attr} { @include margin($size, $side); }
            .__p-#{$base}-#{$attr} { @include padding($size, $side); }

            @each $screen in $-screen-names {
                .__m-#{$base}-#{$attr}-#{$screen} {
                    @include screen-min($screen) {
                        @include margin($size, $side);
                    }
                }
                .__p-#{$base}-#{$attr}-#{$screen} {
                    @include screen-min($screen) {
                        @include padding($size, $side);
                    }
                }
            }
        }
    }
}
