/// configs

$-margin-sizes: 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 58, 64 !default;
$-margin-locs: t, b, l, r, tb, lr !default;

// helpers

@mixin margin($cell, $loc: a, $screen: null) {
    $size: size($cell);
    @if loc-all($loc) {
        @include screen-width-min($screen) {
            margin: $size;
        }
    }

    @each $side in $-loc-sides {
        @if loc-akin($size, $loc) {
            margin-#{loc-full($loc)}: $size;
        }
    }
}

// util classes

/// define multiple mixins
@if include(utils) {
    @each $size in $-margin-sizes {
        .__mg-#{$size} {
            @include margin($size);
        }

        @each $loc in $-margin-locs {
            .__mg-#{$size}-#{$loc} {
                @include margin($size, $loc);
            }

            @each $screen in $-screen-names {
                .__mg-#{$size}-#{$loc}-#{$screen} {
                    @include screen-width-min($screen) {
                        @include margin($size, $loc);
                    }
                }
            }
        }
    }
}
