// font sizes

$-font-sizes: (
    ss: 0.75rem,
    sm: 0.875rem,
    md: 1rem,
    lg: 1.125rem,
    x1: 1.25rem,
    x2: 1.5rem,
    x3: 1.875rem,
    x4: 2.25rem,
    x5: 3rem,
    x6: 4rem,
) !default;

@function font-size($size) {
    @return map-get($-font-sizes, $size);
}

@mixin font-size($size) {
    font-size: font-size($size);
}
