// set text color
$-tc-name-df: neutral !default;
$-tc-tone-df: 7 !default;

@mixin color($name: $-tc-name-df, $tone: $-tc-tone-df) {
    color: color($name, $tone);
}

// prettier-ignore
@if include(utils) {
    @each $name in (none, white, black) {
        .__tc-#{$name} { @include color($name); }
    }

    @each $name in $-color-names {
        .__tc-#{$name} { @include color($name, 7); }

        @for $tone from 1 to 9 {
            .__tc-#{$name}-#{$tone} { @include color($name, $tone); }
        }
    }
}
